.home {
    position: absolute;
    height: calc(100% - 25px);
    font-size: 20px !important;
    align-items: center;
    display: block;
}

.btnContainer {
    margin-top: 20px;
}

.horizontal {
    display: inline-block;
}